<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="JosConnection" connectionString="Data Source=josHost\SQLEXPRESS;Initial Catalog=testDB;Integrated Security=True"/>
		<add name="JhonnyConnection" connectionString="Data Source=jhonnyHost\SQLEXPRESS;Initial Catalog=testDB;Integrated Security=True"/>
		<add name="IngaConnection" connectionString="Data Source=ingaHost\SQLEXPRESS;Initial Catalog=testDB;Integrated Security=True"/>
	</connectionStrings>
	<appSettings>
		<add key="host" value="ingaConnection"/>
	</appSettings>
</configuration>